[Unit]
Description=Watering System

[Service]
ExecStart=/home/pi/watering/app.js
Restart=always
User=pi
Group=pi
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/home/pi/watering/

[Install]
WantedBy=multi-user.target
