<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Home Watering System on a RaspberryPi</title>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/base.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div>
<div>
<nav class="navbar navbar-inverse" role="navigation" style="padding-left:130px;">
       <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home<span class="sr-only">(current)</span></a></li>
      <li><a href="/about">About us</a></li>
     </ul>
</nav>
</div>
<div class="jumbotron"> 
<script>

// A $( document ).ready() block.
$( document ).ready(function() {
    getValveStatus();
	
});
function getValveStatus() {
	$.get( "/getvalvestatus", function( response ) {
		console.log( "Status returned : " + JSON.stringify(response) );
		var display = "";
		for( var i = 0 ; i < response.status.length ; i++) {
			display = display + "<li> <b>" + response.status[i].name + "</b>   " + response.status[i].status + " </li>";
		}
		$(".status").html(display );
	 
		var history = "";
		for( var i = 0 ; i < response.history.length ; i++) {
			history = history + "<li> <b>" + response.history[i].time + "</b>   " + response.history[i].action + " </li>";
		}
		$(".history").html(history );
	 
	  // update the status every 10 seconds
	  setTimeout(getValveStatus, 10000);
	});
}
</script>

<div class="status">
</div>
<div class="valve-buttons">
<a href="/close1" class="btn btn-primary" role="button">Valve 1 Close</a>
<a href="/open1" class="btn btn-primary" role="button">Valve 1 Open</a>
<a href="/valve/1/time/300" class="btn btn-info" role="button">Valve 1 Open for 5 min</a>

</div>
<br/>
<div class="valve-buttons">
<a href="/close2" class="btn btn-primary" role="button">Valve 2 Close</a>
<a href="/open2" class="btn btn-primary" role="button">Valve 2 Open</a>

<a href="/valve/2/time/300" class="btn btn-info" role="button">Valve 2 Open for 5 min</a>
</div>


<div class="history">
</div>
</div>
</div>
</body>
</html>